{% extends 'authentication/main.html' %}

{% block content %}
<br>
<div class="container">
	<div class="row col-6">
		<div class="card card-body">
			<form method="POST" action="">
				{% csrf_token %}

				<div>
					{{ form.first_name.label }}
					{{ form.first_name }}	
				</div>

				<div>
					{{ form.last_name.label }}
					{{ form.last_name }}	
				</div>

				<div>
					{{ form.username.label }}
					{{ form.username }}	
				</div>

				<div>
					{{ form.email.label }}
					{{ form.email }}	
				</div>

				<div>
					{{ form.password1.label }}
					{{ form.password1 }}	
				</div>

				<div>
					{{ form.password2.label }}
					{{ form.password2 }}	
				</div>

				<input type="submit" name="Create User" value="Create User">
				<div>
					Already have a account?
					<a href="{% url 'login' %}">Login</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}